body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: var(--body-text-size);
}

:root {
  --gry-color: #273549;
  --light-grn-color: #10b981;
  --light-gry-color: #6b7280;
  --background-color: #ecfdf5;
  --border-color: #d5d4d8;
  --heading-size: 40px;
  --txt-size: 20px;
  --body-text-size: 17px;
  --refresh-button-color: #910404;
}

#greenText {
  display: block;
  color: var(--light-grn-color);
}

#mainHeading {
  color: var(--gry-color);
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: var(--heading-size);
  line-height: var(--heading-size);
  letter-spacing: -0.05em;
}

.baseHeadings {
  font-size: var(--txt-size);
  font-weight: 400;
  line-height: 28px;
}

button {
  padding: 15px 20px;
  border-radius: 6px;
  background-color: var(--light-grn-color);
  color: var(--background-color);
  font-size: var(--txt-size);
  border: 2px solid var(--border-color);
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--background-color);
  color: var(--light-grn-color);
  border: 2px solid var(--light-grn-color);
}

#flexBox {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.boxes {
  cursor: pointer;
  border-radius: 6px;
  color: var(--light-grn-color);
  margin: 0 0.5em;
  padding: 1em 1.4em;
  background-color: var(--gry-color);
}

#numberInput {
  color: var(--light-grn-color);
  background-color: var(--gry-color);
  padding: 0 10px;
  font-size: var(--txt-size);
  border-radius: 6px;
  text-align: center;
}

#result {
  color: var(--refresh-button-color);
  font-size: var(--txt-size);
  font-weight: 500;
}

.label {
  cursor: pointer;
}
